@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.white{
	color: aliceblue;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.container-fluid{
	width: 100%;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.overflow-hidden{
	overflow: hidden;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.justify-center{
	justify-content: center;
}
.justify-space-between{
	justify-content: space-between;
}
.justify-space-around{
	justify-content: space-around;
}
.align-self-bottom{
	align-self: flex-end;
}
.align-self-center{
	align-self: center;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}

/*padding*/

.p-4{
	padding: 4px;
}
.p-8{
	padding: 8px;
}
.p-12{
	padding: 12px;
}
.p-16{
	padding: 16px;
}
.p-20{
	padding: 20px;
}
.p-24{
	padding: 24px;
}
.p-28{
	padding: 28px;
}
.p-32{
	padding: 32px;
}
.p-36{
	padding: 36px;
}
.p-40{
 padding: 40px;
}
.px-4{
	padding:0 4px;
}
.px-8{
	padding:0 8px;
}
.px-12{
	padding:0 12px;
}
.px-16{
	padding:0 16px;
}
.px-20{
	padding:0 20px;
}
.px-24{
	padding:0 24px;
}
.px-28{
	padding:0 28px;
}
.px-32{
	padding:0 32px;
}
.px-36{
	padding:0 36px;
}
.px-40{
 padding:0 40px;
}
.py-4{
	padding: 4px 0;
}
.py-8{
	padding: 8px 0;
}
.py-12{
	padding: 12px 0;
}
.py-16{
	padding: 16px 0;
}
.py-20{
	padding: 20px 0;
}
.py-24{
	padding: 24px 0;
}
.py-28{
	padding: 28px 0;
}
.py-32{
	padding: 32px 0;
}
.py-36{
	padding: 36px 0;
}
.py-40{
 padding: 40px 0;
}
.pb-4{
	padding-bottom: 4px;
}
.pb-8{
	padding-bottom: 8px;
}
.pb-12{
	padding-bottom: 12px;
}
.pb-16{
	padding-bottom: 16px;
}
.pb-20{
	padding-bottom: 20px;
}
.pb-24{
	padding-bottom: 24px;
}
.pb-28{
	padding-bottom: 28px;
}
.pb-32{
	padding-bottom: 32px;
}
.pb-36{
	padding-bottom: 36px;
}
.pb-40{
 padding-bottom: 40px;
}
.pt-4{
	padding-top: 4px;
}
.pt-8{
	padding-top: 8px;
}
.pt-12{
	padding-top: 12px;
}
.pt-16{
	padding-top: 16px;
}
.pt-20{
	padding-top: 20px;
}
.pt-24{
	padding-top: 24px;
}
.pt-28{
	padding-top: 28px;
}
.pt-32{
	padding-top: 32px;
}
.pt-36{
	padding-top: 36px;
}
.pt-40{
 padding-top: 40px;
}
.pl-4{
	padding-left: 4px;
}
.pl-8{
	padding-left: 8px;
}
.pl-12{
	padding-left: 12px;
}
.pl-16{
	padding-left: 16px;
}
.pl-20{
	padding-left: 20px;
}
.pl-24{
	padding-left: 24px;
}
.pl-28{
	padding-left: 28px;
}
.pl-32{
	padding-left: 32px;
}
.pl-36{
	padding-left: 36px;
}
.pl-40{
 padding-left: 40px;
}
.pr-4{
	padding-right: 4px;
}
.pr-8{
	padding-right: 8px;
}
.pr-12{
	padding-right: 12px;
}
.pr-16{
	padding-right: 16px;
}
.pr-20{
	padding-right: 20px;
}
.pr-24{
	padding-right: 24px;
}
.pr-28{
	padding-right: 28px;
}
.pr-32{
	padding-right: 32px;
}
.pr-36{
	padding-right: 36px;
}
.pr-40{
 padding-right: 40px;
}

/*margin*/
.mr-24{
	margin-right: 24px;
}

.m-4{
	margin: 4px;
}
.m-8{
	margin: 8px;
}
.m-12{
	margin: 12px;
}
.m-16{
	margin: 16px;
}
.m-20{
	margin: 20px;
}
.m-24{
	margin: 24px;
}
.m-28{
	margin: 28px;
}
.m-32{
	margin: 32px;
}
.m-36{
	margin: 36px;
}
.m-40{
 margin: 40px;
}
.ml-24{
	margin-left: 24px;
}
.ml-40{
	margin-left: 40px;
}